body{
  padding: 20px;
}


.top_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date_from_to{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mr-10{
  margin: 10px !important;
}

.box_top{
  height: 40px !important;
    width: 350px !important;
    display: flex !important;
    align-items: center !important;
    color: white !important;
    font-size: 15px !important;
    border: none !important;
}
.box_one{
  background-color: #8484bd !important;
}
.box_two{
  background-color: #FF9800 !important;
}
.box_three{
  background-color: #7c0a90 !important
}
.box_four{
  background-color: #FF9800 !important;
}
.box_five{
  background-color: #7c0a90 !important
}
.box_six{
  background-color: red !important;
}

.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}
  [data-theme="dark"] .site-card-border-less-wrapper {
    background: #303030;
}




.trip_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.trip_table td, .trip_table th {
  border: 1px solid #ddd;
  /* padding: 2px; */
}

.trip_table tr:nth-child(even){background-color: #f2f2f2;}

.trip_table tr:hover {background-color: #ddd;}

.trip_table th {
  text-align: center;
  background-color: #03A9F4;
  color: white;
}


.trip_table td {
  padding: 10px 5px 10px 5px; 
}

.tbl_btn{
  padding: 10px;
  background-color: #8484bd;
  color: white;
  border: none;
  border-radius: 3px;
}


/* 
.container{
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 1rem;
  display: flex;
  
}
.filter_container{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  margin-right: 10px;
  height: 100%;
  box-sizing: border-box;
}

.btn{
  background-color: rgb(173 245 173);
    border-radius: 3px;
    padding: 5px;
    margin: 5%;
    width: 60px;
    border: none;
    font-weight: 600;
}
.landbtn{
  background-color: rgb(173 245 173);
  border-radius: 3px;
  padding: 5px;
  margin: 5%;
  width: 60px;
  border: none;
  font-weight: 600;
}

.launchbtn{
  background-color: rgb(173 245 173);
  border-radius: 3px;
  padding: 5px;
  margin: 5%;
  width: 60px;
  border: none;
  font-weight: 600;
}

.list_container{
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));
  grid-gap: 1em;
  margin-left: 10px;
}
img{
  background-color: cyan;
}
.fnn{
  margin-top: 20px;
  color: #671fa9;
  font-size: 15px;
}

.txt_center{
text-align: center;
}


@media only screen and (max-width: 710px){
  .container{
    display: block;
  }
  .filter_container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .list_container{
    margin-left: 0px;
    width: 100%;
  }
} */

